<h1>Home#index</h1>

<% if user_signed_in? %>

    <h3> Bienvenido! <%= current_user.name %></h3>
    <div class="row">
        <%= render @images %>
    </div>

<%else%>

    <p> Por favor iniciar sesión para ver imagenes </p>

<% end %>




